body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: #262626;
    display: flex;
    flex-wrap: wrap;
}


/* Make EVERYTHING use border-box */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header, section, nav, main, article {
    display: flex;
    width: 100vw;
    padding: 15px 10px 15px 10px;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #3a66ad;
    height: 80px;
}

header {
    background-color: #9cbef4;
    height: 150px;
}

main {
    background-color: #e8f6ff;
    height: 300px;
}

section {
    background-color: #aae0ff;
}

article {
    height: 150px;
}

/* Background colors */

.bg-yellow {
    background-color: #ffd263;
}

.bg-lily {
    background-color: #c296ff;
}

.bg-red {
    background-color: #ff6262;
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    section,
    .bg-yellow,
    .bg-lily,
    .bg-red {
        width: 50%;
    }   
    article {
        height: 200px;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        width: 960px;
        margin: 0 auto;
    }
    .bg-yellow,
    .bg-lily,
    .bg-red {
        width: 33.3%;
    }
    article {
        height: 250px;
    }
    header {
        height: 300px;
    }
    
    section {
        height: 100px;
        order: 1;
    }
    main {
        order: 2;
    }
}