/* Here the codes for the fonts.

font-family: 'Kelly Slab', cursive;
font-family: 'Harmattan', sans-serif;
font-family: 'Contrail One', cursive;

*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Harmattan', sans-serif;
    font-size: 1.1em;
    background-color: #eff1ff;
    display: grid;
    grid-template-columns: 97%;
    justify-content: center;
    color: #111111; 
}

h1 {
    font-family: 'Kelly Slab', cursive;
    font-size: 2em;
}

h2 {
    font-family: 'Kelly Slab', cursive;
    font-size: 1.4em;
}

h3 {
    font-family: 'Kelly Slab', cursive;
    font-size: 1.2em;
}

nav {
    margin-top: 8%;
    margin-bottom: 5%;
    font-size: .7em;
}

nav ul li a img {
    display: flex;
    max-width: 60%;
}

ul {
    list-style-type: none;
    font-family: 'Kelly Slab', cursive;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

li a {
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 0.1em;
}

a:visited { 
    color: #1153aa;
}

img {
    max-width: 100%;
    margin-top: 5%;
}

main {
    margin-bottom: 5%;
}

section {
    margin-bottom: 5%;
}

footer {
    background-color: #5284ea;
    padding: 2em;
    color: #f9f9f9;
    font-size: 0.67em;
}

/* ------- Media queries ----------- */

@media (min-width: 600px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    header {
        grid-column: span 2;
        text-align: center;
    }
    
    main {
        grid-column: span 2;
    }
    
    nav {
        font-size: .8em;
        grid-column: span 2;
    }
    
    footer {
        padding: 1em;
        grid-column: 1 / -1;
    }
    
    article {
        justify-content: space-around;
    }
    
    
    
}

@media (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 20% 20% 20%;
        grid-gap: 0.7em;
    }
    
    header {
        grid-column: span 3;
        text-align: center;

    }
    
    main {
        grid-row: 3;
    }
    
    aside {
        grid-column: 1fr;
        grid-row: 3;
    }
    
    nav {
        font-size: .8em;
        grid-column: span 3;
    }
    
    footer {
        padding: 1em;
        grid-column: 1 / -1;
    }
    
    
    
    
}

/* ------- Media queries end ------- */